{% extends "base_generic.html" %}

{% block content %}
  <h1>Author: {{ author.last_name }}, {{ author.first_name }}</h1>

  <p>{{ author.date_of_birth }} - {{ author.date_of_death }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>
    <ul>
    {% for book in author.book_set.all %}
      <li>
        <a href="{% url 'book-detail' book.pk %}">{{ book.title }}</a>({{ book.bookinstance_set.count }})<br>
        {{ book.summary }}
      </li>
    {% endfor %}
    </ul>
  </div>
{% endblock %}